.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
thead{
    background-color: #f3efef;
    border-top: 1px solid rgb(172, 171, 171);
    border-bottom: 1px solid rgb(172, 171, 171);
    font-weight: 500;
}
tr {
    border-bottom: 1px solid rgb(172, 171, 171);
}
button{
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 5px;
    width :160px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    
    &:hover{
        background-color: rgb(136, 176, 250);
    }
}
.icon-wrapper{
    border: 1px solid rgb(32, 18, 83);
    border-radius: 5px;
    margin-left: 5px;
    float: right;
    &:hover{
        border-color:  cornflowerblue;
    }
}
.icon-button{
    cursor: pointer;
    &:hover{
        color: cornflowerblue;
    }
}